* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* бокавая панель управления*/
.navigation {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: "Philosopher", sans-serif;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    border-right: 2px solid white;
    position: fixed;
    padding-left: 70px;
    background-color: #212529;
}
.navigation li {
    width: 300px;
}
.navigation a {
    color: white;
    font-family: "Philosopher";
}
.navigation-f1 {
    margin-top: 3vw;
}
.navigation-f2 {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
.navigation-f3 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
.navigation-f4 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    margin-bottom: 50vw;
}
/*начало добавить товар*/
.d-f {
    display: flex;
    /* margin: 0 100px 0 0; */
    gap: 7vw;
    margin-left: 18vw;
    background-image: url("../img/imgheader1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*height:100%;*/
    height:auto;
}
.container {
    display: flex;
    margin-top: 3.5vw;
    flex-direction: column;
    gap: 5vw;
    margin-left: 7vw;
    margin-bottom: 5vw;
}
/*поле ссылки*/
.point{
    display: flex;
    width: 300px;
    height: 60px;
    padding-left: 50px;
    align-items: center;
    background: rgba(25, 29, 33, 0.9);
}
.point p{
    color: white;
    font-family: 'Comfortaa';
    font-size: 1.5vw;
}
/*--------------*/
.container7{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2vw;
}
.container7 a{
    color: white;
    font-size: 1.2vw;
    font-family: "Philosopher";
}
.container7 a:hover{
    color: #797979;
}
.top1{
    display: flex;
    flex-direction: column;
}
form{
    margin-top: 0.5vw;
    color: white;
    font-size: 1vw;
    font-family: 'Comfortaa';
}
.label-form{
    color: white;
    font-size: 1.2vw;
}
select{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    /*background: none;*/
    background: #212529;
    color: white;
    padding: 0.5vw;
    border: 1.5px solid white ;
    font-size: 0.8vw;
}
select > option{
    background: rgba(25, 29, 33, 0.9);
    color: white;
    font-size: 0.8vw;
    padding: 0.5vw;
    border: 1px solid white ;
}
.textarea-form{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    background: #212529;
    color: white;
    font-size: 0.8vw;
    border: 1.5px solid white;
    padding: 0.5vw;
    resize: none;
}
.btn_top1{
    font-size: 0.8vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.4vw 3vw;
    transition: 2s;
}
.btn_top1:hover{
    background-color: white;
    color: black;
}
.input-file{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
}
input::file-selector-button{
    font-size: 0.8vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.4vw 3vw;
    transition: 2s;
}
input::file-selector-button:hover{
    background-color: white;
    color: black;
}
