*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #212529;
}
/*Начало шапки сайта*/
header{
    top: 0;
    width: 100%;
    background-color: #212529;
    border-bottom: 2px solid white;
    position: fixed;
}
/*бургер меню*/

/**/
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher', sans-serif;
}
.logo{
    font-size: 1.8vw;
}
.navigation a{
    color: white;
}
/*подчеркивание у ссылок*/
.link-effect::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}
.link-effect:hover::after{
    width: 100%;
    transition: width 0.3s;
}
/*Конец шапки сайта*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока переходы*/
.paragraph{
    margin-top: 10vw;
}
.paragraph h3{
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-size: 2vw;
    margin: 0 100px;
    text-align: center;
    padding-bottom: 2vw;
    border-bottom: 2px solid white;
}
.container_btn{
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin: 3vw 0;
}
.btn_top1{
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.3vw 4vw;
    transition: 2s;
}
.btn_top1:hover{
    background-color: white;
    color: black;
}
.btn_top2{
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.5vw 4vw;
    transition: 2s;
}
.btn_top2:hover{
    background-color: white;
    color: black;
}
.btn_top3{
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.3vw 4vw;
    transition: 2s;
}
.btn_top3:hover{
    background-color: white;
    color: black;
}
/*статьи*/
.container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, 15vw);
    justify-content: center;
    gap:  5.2vw  5.2vw;
    margin: 2vw 100px 5vw 100px;
}
.card{
    width: auto;
    height: auto;
    background-color: #212529;
    border: 1px solid white;
}
.card img{
    width: 14.9vw;
    height: 7.9vw;
}
.card-title{
    padding: 1vw 1vw 0;
    font-size: 0.7vw;
    color: white;
    font-family: 'Comfortaa';
}
.card-text{
    font-size: 0.8vw;
    padding: 1vw 1vw 2vw;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Comfortaa';
}
.card-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}
.card-btn button{
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.3vw 4vw;
    transition: 2s;
}

.card-btn button:hover{
    background-color: white;
    color: black;
}
.card-btn button > a{
     color: white;
     font-size: 1vw;
    transition: 2s;
 }
.card-btn button:hover > a{
    color: black;
}
/*плагинация*/
.pagination{
    display: flex;
    justify-content: center;
}
.pagination a {
    border: 2px solid white;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 2s;
}
.pagination a.active {
    background-color: rgb(255, 255, 255);
    color: black;
}
.pagination a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: black;
}
/*Конец  блока переходы*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*кнопка на вверх*/
.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    font-size: 12px;
    padding: 1em;
    display: none;
}
.go-top img{
    width: auto;
    height: 2.5vw;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока Footer*/
.navigation_footer{
    display: flex;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Philosopher';
}
footer{
    height: 100%;
    background-color: #191D21;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
}
footer .navigation_footer{
    padding-top: 5vh;
    width: 100%;
}
.logo > a{
    font-size: 1.8vw;
}
.conf{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.conf > a{
    font-size:1.2vw;
    color: rgba(255, 255, 255, 0.2);
    font-family: 'Philosopher';
}
footer a{
    color: white;
    font-size: 1.5vw;
    font-family: 'Philosopher';
    margin-top: 2.5vh;
}
.cop{
    color: white;
    font-family: 'Philosopher';
    font-size: 1.4vw;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
/*Конец блока Footer*/

/*---------------------------------------*/

/*верстка адаптива*/

@media screen and (max-width: 1581px) {
    /*шапка*/
    .navigation{
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        font-size: 1.5vw;
    }
    .logo{
        font-size: 2vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 10vw;
    }
    .paragraph h3{
        font-size: 2.2vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 10vw;
        margin: 3.5vw 0;
    }
    .btn_top1{
        font-size: 1.1vw;
        padding: 0.5vw 4vw;
    }
    .btn_top2{
        font-size: 1.1vw;
        padding: 0.5vw 4vw;
    }
    .btn_top3{
        font-size: 1.1vw;
        padding: 0.5vw 4vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 17.2vw);
        gap:  5.2vw  5.2vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: 17.1vw;
    }
    .card-title{
        padding: 1vw 1vw 0;
        font-size: 0.8vw;
    }
    .card-text{
        font-size: 0.9vw;
        padding: 1vw 1vw 2vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.1vw;
        padding: 0.3vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.1vw;
    }
        /*плагинация*/
    .pagination a {
        font-size: 1.2vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        display: flex;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5vw;
        font-family: 'Philosopher';
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .logo > a{
        font-size: 2vw;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.3vw;
    }
    footer a{
        font-size: 1.5vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.4vw;
        width: 100%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width: 1441px){
    /*кнопки по категориям*/
    .container_btn{
        gap: 7vw;
        margin: 4vw 0;
    }
    .btn_top1{
        font-size: 1.2vw;
        padding: 0.5vw 4vw;
    }
    /*статьи*/
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button {
        padding: 0.3vw 4vw;
        font-size: 1.2vw;
    }
    .card-btn button > a {
        font-size: 1.2vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.1vw;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 1301px){
    /*шапка*/
    .navigation{
        margin-top: 1.7vw;
        margin-bottom: 1.7vw;
        font-size: 1.7vw;
    }
    .logo > a{
        font-size: 2.5vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 11vw;
    }
    .paragraph h3{
        font-size: 2.5vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 10vw;
        margin: 4.5vw 0;
    }
    .btn_top1{
        font-size: 1.2vw;
        padding: 0.5vw 4vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 17.2vw);
        gap:  5.2vw  5.2vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: 17vw;
        height: 9vw;
    }
    .card-title{
        padding: 1vw 1vw 0;
        font-size: 0.85vw;
    }
    .card-text{
        font-size: 1vw;
        padding: 1vw 1vw 2vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.3vw;
        padding: 0.4vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.2vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.1vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        display: flex;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.7vw;
        font-family: 'Philosopher';
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.4vw;
    }
    footer a{
        font-size: 1.6vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.5vw;
        width: 100%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width: 1282px){
    /*шапка*/
    .navigation{
        margin-top: 1.7vw;
        margin-bottom: 1.7vw;
        font-size: 1.7vw;
    }
    .logo > a{
        font-size: 2.5vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 12vw;
    }
    .paragraph h3{
        font-size: 2.5vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 8vw;
        margin: 5vw 0;
    }
    .btn_top1{
        font-size: 1.2vw;
        padding: 0.5vw 4vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 20vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: auto;
        height: 11.1vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 0.9vw;
    }
    .card-text{
        font-size: 1.1vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.3vw;
        padding: 0.4vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.3vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.3vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.5vw;
    }
    footer a{
        font-size: 1.7vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.6vw;
        width: 100%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width: 1141px){
    /*шапка*/
    .navigation{
        margin-top: 1.8vw;
        margin-bottom: 1.8vw;
        font-size: 1.8vw;
    }
    .logo > a{
        font-size: 2.6vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 13.5vw;
    }
    .paragraph h3{
        font-size: 2.6vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 7vw;
        margin: 5.5vw 0;
    }
    .btn_top1{
        font-size: 1.4vw;
        padding: 0.5vw 4vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 20vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: auto;
        height: 11.1vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1vw;
    }
    .card-text{
        font-size: 1.2vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.4vw;
        padding: 0.4vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.35vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.25vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.55vw;
    }
    footer a{
        font-size: 1.8vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.7vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 1041px){
    /*шапка*/
    .navigation{
        margin-top: 1.9vw;
        margin-bottom: 1.9vw;
        font-size: 1.9vw;
    }
    .logo > a{
        font-size: 2.7vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 14vw;
    }
    .paragraph h3{
        font-size: 2.7vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 6.5vw;
        margin: 6vw 0;
    }
    .btn_top1{
        font-size: 1.45vw;
        padding: 0.55vw 4vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 22vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: auto;
        height: 12.2vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.05vw;
    }
    .card-text{
        font-size: 1.25vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.5vw;
        padding: 0.5vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.35vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.25vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.65vw;
    }
    footer a{
        font-size: 1.9vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.8vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 1000px){
    /*шапка*/
    .navigation{
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2vw;
    }
    .logo > a{
        font-size: 2.8vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 14.5vw;
    }
    .paragraph h3{
        font-size: 2.8vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 6.5vw;
        margin: 6vw 0;
    }
    .btn_top1{
        font-size: 1.65vw;
        padding: 0.65vw 4vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 24vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: auto;
        height: 13.25vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.05vw;
    }
    .card-text{
        font-size: 1.35vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.65vw;
        padding: 0.55vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.55vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.4vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.8vw;
    }
    footer a{
        font-size: 2vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.9vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 901px){
    /*шапка*/
    .navigation{
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2.2vw;
    }
    .logo > a{
        font-size: 3vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 15.5vw;
    }
    .paragraph h3{
        font-size: 3vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 6.5vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 1.7vw;
        padding: 0.55vw 3vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 26vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: auto;
        height: 14.35vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.2vw;
    }
    .card-text{
        font-size: 1.55vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.8vw;
        padding: 0.6vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.55vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.55vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.95vw;
    }
    footer a{
        font-size: 2.2vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 841px) {
    /*шапка*/
    .navigation{
        margin-top: 2.1vw;
        margin-bottom: 2.1vw;
        font-size: 2.3vw;
    }
    .logo > a{
        font-size: 3vw;
    }
    /*заголовок*/
    .paragraph{
        margin-top: 15.5vw;
    }
    .paragraph h3{
        font-size: 3vw;
        margin: 0 100px;
        padding-bottom: 2.2vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 6vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 1.8vw;
        padding: 0.65vw 3vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 27vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: auto;
        height: 15vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.25vw;
    }
    .card-text{
        font-size: 1.65vw;
        padding: 1.7vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.85vw;
        padding: 0.65vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.85vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.65vw;
        padding: 8px 16px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:2.1vw;
    }
    footer a{
        font-size: 2.3vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2.15vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 769px) {
    /*заголовок*/
    .paragraph{
        margin-top: 16vw;
    }
    .paragraph h3{
        font-size: 3.5vw;
        margin: 0 75px;
        padding-bottom: 2.5vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 5vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 2vw;
        padding: 0.65vw 3vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 28vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: auto;
        height: 15.5vw;
    }
    .card-title{
        padding: 2.2vw 1.2vw 0;
        font-size: 1.45vw;
    }
    .card-text{
        font-size: 1.8vw;
        padding: 2.2vw 1.2vw 3.5vw;
    }
    .card-btn{
        margin-bottom: 2.5vw;
    }
    .card-btn button{
        font-size: 2.1vw;
        padding: 0.7vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.95vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.65vw;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 701px){
    /*заголовок*/
    .paragraph{
        margin-top: 16.5vw;
    }
    .paragraph h3{
        font-size: 4vw;
        margin: 0 75px;
        padding-bottom: 2.5vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 5vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 2.1vw;
        padding: 0.65vw 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 29vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 12.5vw 100px;
    }
    .card img{
        width: auto;
        height: 16vw;
    }
    .card-title{
        padding: 2.2vw 1.2vw 0;
        font-size: 1.5vw;
    }
    .card-text{
        font-size: 1.9vw;
        padding: 2.2vw 1.2vw 3.5vw;
    }
    .card-btn{
        margin-bottom: 2.5vw;
    }
    .card-btn button{
        font-size: 2.2vw;
        padding: 0.65vw 4vw;
    }
    .card-btn button > a{
        font-size: 2vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 1.75vw;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 589px){
    /*заголовок*/
    .paragraph{
        margin-top: 17.5vw;
    }
    .paragraph h3{
        font-size: 4.5vw;
        margin: 0 50px;
        padding-bottom: 2.5vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        gap: 3vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 2.6vw;
        padding: 0.7vw 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 40vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 12.5vw 100px;
    }
    .card img{
        width: auto;
        height: 22.2vw;
    }
    .card-title{
        padding: 2.2vw 2vw 0;
        font-size: 1.9vw;
    }
    .card-text{
        font-size: 2.4vw;
        padding: 2.2vw 2vw 5vw;
    }
    .card-btn{
        margin-bottom: 4vw;
    }
    .card-btn button{
        font-size: 2.7vw;
        padding: 0.85vw 4vw;
    }
    .card-btn button > a{
        font-size: 2.5vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 2.3vw;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 471px){
    /*заголовок*/
    .paragraph{
        margin-top: 17.5vw;
    }
    .paragraph h3{
        font-size: 4.8vw;
        margin: 0 50px;
        padding-bottom: 2.5vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        flex-wrap: wrap;
        gap: 5vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 3.3vw;
        padding: 0.7vw 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 55vw);
        gap: 8vw 8vw;
        margin: 2vw 100px 12.5vw;
    }
    .card img{
        width: auto;
        height: 30.55vw;
    }
    .card-title{
        padding: 2.5vw 2.5vw 0;
        font-size: 2.4vw;
    }
    .card-text{
        font-size: 2.9vw;
        padding: 2.2vw 2vw 5vw;
    }
    .card-btn{
        margin-bottom: 4vw;
    }
    .card-btn button{
        font-size: 3.5vw;
        padding: 0.85vw 4vw;
    }
    .card-btn button > a{
        font-size: 3.5vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 2.7vw;
        padding: 8px 16px;
    }
}
@media screen and (max-width: 426px){
    /*заголовок*/
    .paragraph{
        margin-top: 17.5vw;
    }
    .paragraph h3{
        font-size: 5.8vw;
        margin: 0 50px;
        padding-bottom: 2.5vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        flex-wrap: wrap;
        gap: 5vw;
        margin: 7vw 0;
    }
    .btn_top1{
        font-size: 3.7vw;
        padding: 1.8vw 3.5vw;
        margin: 0 30vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 55vw);
        gap: 8vw 8vw;
        margin: 2vw 100px 12.5vw;
    }
    .card img{
        width: auto;
        height: 30.5vw;
    }
    .card-title{
        font-size: 2.5vw;
        padding: 3vw 2vw 0;
    }
    .card-text{
        font-size: 3.2vw;
        padding: 5vw 2vw 8vw;
    }
    .card-btn{
        margin-bottom: 5.5vw;
    }
    .card-btn button{
        font-size: 4vw;
        padding: 1.3vw 6vw;
    }
    .card-btn button > a{
        font-size: 4vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 4.2vw;
        padding: 2px 10px;
    }
}
@media screen and (max-width: 376px) {
    /*заголовок*/
    .paragraph{
        margin-top: 17.5vw;
    }
    .paragraph h3{
        font-size: 8vw;
        margin: 0 25px;
        padding-bottom: 2.5vw;
    }
    /*кнопки по категориям*/
    .container_btn{
        flex-wrap: wrap;
        gap: 5vw;
        margin: 12vw 0;
    }
    .btn_top1{
        font-size: 4vw;
        padding: 3vw 5vw;
        margin: 0 27vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 60vw);
        gap: 8vw 8vw;
        margin: 2vw 50px 12.5vw;
    }
    .card img{
        width: auto;
        height: 33.2vw;
    }
    .card-title{
        font-size: 3vw;
        padding: 5vw 2vw 0;
    }
    .card-text{
        font-size: 4vw;
        padding: 7vw 2vw 10vw;
    }
    .card-btn{
        margin-bottom: 4.5vw;
    }
    .card-btn button{
        font-size: 4.3vw;
        padding: 1.5vw 6vw;
    }
    .card-btn button > a{
        font-size: 4.3vw;
    }
    /*плагинация*/
    .pagination a {
        font-size: 4.5vw;
        padding: 2px 10px;
    }
}
