* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* бокавая панель управления*/
.navigation {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: "Philosopher", sans-serif;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    border-right: 2px solid white;
    position: fixed;
    padding-left: 70px;
    background-color: #212529;
}
.navigation li {
    width: 300px;
}

.navigation a {
    color: white;
    font-family: "Philosopher";
}

.navigation-f1 {
    margin-top: 3vw;
}
.navigation-f2 {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
.navigation-f3 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
.navigation-f4 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    margin-bottom: 50vw;
}
/*начало добавить товар*/
.d-f {
    display: flex;
    /* margin: 0 100px 0 0; */
    gap: 7vw;
    margin-left: 18vw;
    background-image: url("../img/imgheader1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:100vh;
    /*height: auto;*/
}
.container {
    display: flex;
    margin-top: 3.5vw;
    flex-direction: column;
    gap: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}
/*поле ссылки*/
.point {
    display: flex;
    width: 600px;
    height: 5vh;
    padding-left: 50px;
    align-items: center;
    background: rgba(25, 29, 33, 0.9);
}
.point p {
    color: white;
    font-family: 'Comfortaa';
    font-size: 1.5vw;
}
/*--------------*/
.container7 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2vw;
}
.container7 p{
    color: white;
    font-size: 1.2vw;
    font-family: "Philosopher";
}
.table-block {
    color: white;
    background-color: #212529;
    margin: 2vw 0 16.8vw;
}
img{
    width: auto;
    height: 8vw;
}
th {
    padding: 1.2vw 1.2vw;
    border: 1px solid white;
    text-align: center;
}
.table-title {
    font-size: 1.1vw;
    font-family: 'Philosopher';
}

.table-content {
    font-size: 0.9vw;
    font-family: 'Comfortaa';
}

.table-content a {
    color: white;
    font-size: 1vw;
}
/*верстка адаптива*/

@media screen and (max-width: 1581px) {
    /*шапка*/
    .navigation{
        font-size: 1.6vw;
        padding-right: 50px;
    }
    .log{
        font-size: 2.1vw;
    }
    .navigation li {
        width: auto;
    }
    .navigation-f1 {
        margin-top: 4vw;
    }
    .d-f {
        margin-left: 16vw;
    }
    .container7 p {
        font-size: 1.4vw;
    }
    .table-title {
        font-size: 1.3vw;
    }
    .table-content {
        font-size: 1vw;
    }
}
@media screen and (max-width: 1441px){
    .navigation{
        font-size: 1.7vw;
        padding-right: 50px;
    }
    .log{
        font-size: 2.2vw;
    }
    .point p {
        font-size: 1.7vw;
    }
    .d-f {
        margin-left: 18vw;
    }
    .container7 p {
        font-size: 1.5vw;
    }
    .table-title {
        font-size: 1.4vw;
    }
    .table-content {
        font-size: 1.1vw;
    }
}
@media screen and (max-width: 1301px){
    /*шапка*/
    .navigation{
        font-size: 1.9vw;
        gap: 2vw;
        padding-right: 30px;
    }
    .log{
        font-size: 2.7vw;
    }
    .container7 p {
        font-size: 1.8vw;
    }
    .table-title {
        font-size: 1.5vw;
    }
    .table-content {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 1282px){
    /*шапка*/
    .navigation{
        font-size: 2vw;
        gap: 2vw;
        padding-right: 30px;
        padding-left: 50px;
    }
    .log{
        font-size: 2.9vw;
    }

}
@media screen and (max-width: 1141px){
    /*шапка*/
    .navigation{
        margin-top: 1.8vw;
        margin-bottom: 1.8vw;
        font-size: 1.8vw;
        gap: 5vw;
    }
    .logo > a{
        font-size: 2.6vw;
    }
    /*шапка*/


    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 3.5vw;
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.55vw;
    }
    footer a{
        font-size: 1.8vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.7vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 1041px){
    /*шапка*/
    .navigation{
        margin-top: 1.9vw;
        margin-bottom: 1.9vw;
        font-size: 2vw;
    }
    .logo > a{
        font-size: 2.7vw;
    }
    /*шапка*/


    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.75vw;
    }
    footer a{
        font-size: 1.9vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.85vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 1000px){
    /*шапка*/
    .navigation{
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2.1vw;
        gap: 4vw;
    }
    .logo > a{
        font-size: 2.8vw;
    }
    /*шапка*/


    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 4vw;
    }
    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.85vw;
    }
    footer a{
        font-size: 2vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.95vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 901px){
    /*шапка*/
    .navigation{
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2.3vw;
        gap: 3vw;
    }
    .logo > a{
        font-size: 3vw;
    }
    /*шапка*/


    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 3.7vh;
        margin-bottom: 3.7vh;
    }
    .conf > a{
        font-size: 2vw;
    }
    footer a{
        font-size: 2.2vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2.2vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 841px) {
    /*шапка*/
    .navigation{
        margin-top: 2.1vw;
        margin-bottom: 2.1vw;
        font-size: 2.4vw;
        gap: 2.5vw;
    }
    .logo > a{
        font-size: 3vw;
    }
    /*шапка*/


    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 3vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:2.15vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2.15vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 769px) {
    /*шапка*/
    .logo > a{
        font-size: 4vw;
    }
    .navbar{
        margin: 2vw 0;
        justify-content: space-around;
    }
    .hamburger{
        display: block;
        padding-left: 250px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation{
        position: fixed;
        left: -100%;
        top: 0;
        gap: 3vw;
        flex-direction: column;
        /*background-color: #191D21;*/
        background-color: #191d21ed;
        border-bottom: 2px solid white;
        width: 100%;
        text-align: center;
        transition: 2s;
        margin: 0;
        padding: 6vw 0;
    }
    .navigation li{
        font-size: 2.7vw;
    }
    .navigation.active{
        left: 0;
    }
    /*шапка*/



    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 2.7vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:2.35vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2.7vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 701px){
    /*шапка*/
    .logo > a{
        font-size: 4vw;
    }
    .navigation li{
        font-size: 3vw;
    }
    .hamburger{
        padding-left: 200px;
    }
    /*шапка*/



    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 5vw;
    }
    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 2.7vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:2.55vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2.8vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 589px){
    /*шапка*/
    .logo > a{
        font-size: 4.7vw;
    }
    .navbar{
        margin: 3vw 0;
    }
    .navigation{
        padding: 8vw 0;
        gap: 4.5vw;
    }
    .navigation li{
        font-size: 3.7vw;
    }
    .hamburger{
        padding-left: 200px;
    }
    /*шапка*/


    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 5.5vw;
    }
    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 2vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:3vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 3.2vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 471px){
    /*шапка*/
    .logo > a{
        font-size: 5.5vw;
    }
    .navbar{
        margin: 4vw 0;
    }
    .hamburger{
        padding-left: 125px;
    }
    .navigation{
        padding: 9.5vw 0;
        gap: 5.5vw;
    }
    .navigation li{
        font-size: 4.2vw;
    }

    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 6.5vw;
    }
    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 2vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:3.9vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 3.8vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 426px){
    /*шапка*/
    .logo > a{
        font-size: 6.5vw;
    }
    .navbar{
        margin: 4vw 0;
    }
    .hamburger{
        padding-left: 100px;
    }
    .navigation{
        padding: 10.5vw 0;
        gap: 6.5vw;
    }
    .navigation li{
        font-size: 5vw;
    }
    /*шапка*/



    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 7.5vw;
    }
    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 1.5vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:4.2vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 4.2vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 376px) {
    /*шапка*/
    .logo > a{
        font-size: 7.5vw;
    }
    .navbar{
        margin: 5vw 0;
    }
    .hamburger{
        padding-left: 50px;
    }
    .navigation{
        padding: 12.5vw 0;
        gap: 8.5vw;
    }
    .navigation li{
        font-size: 6vw;
    }
    /*шапка*/


    /*кнопка на вверх*/
    .go-top img{
        width: auto;
        height: 8vw;
    }
    /*Начало блока Footer*/
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    .conf{
        margin-top: 1vh;
        margin-bottom: 3.2vh;
    }
    .conf > a{
        font-size:4.65vw;
    }
    footer a{
        font-size: 2.4vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 4.7vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
