*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #212529;
}
/*Начало шапки сайта*/
header{
    top: 0;
    width: 100%;
    background-color: #212529;
    border-bottom: 2px solid white;
    position: fixed;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher', sans-serif;
}
.logo{
    font-size: 1.8vw;
}
.navigation a{
    color: white;
}
/*подчеркивание у ссылок*/
.link-effect::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}
.link-effect:hover::after{
    width: 100%;
    transition: width 0.3s;
}
/*Конец шапки сайта*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
.paragraph{
    margin-top: 9vw;
}
.paragraph h3{
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-size: 3vw;
    text-align: center;
    padding-bottom: 2vw;
    border-bottom: 2px solid white;
}
/*Начало блока популярные товары*/
h4{
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    font-size: 2vw;
    margin: 5vw 0;
}
.container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, 15vw);
    justify-content: center;
    gap:  5.2vw  5.2vw;
    margin: 2vw 100px 5vw 100px;
}

.subparagraph3 img{
    height: 250px;
    height: 250px;
    margin-top: -12vw;
    margin-left: 85vw;
}
.subparagraph4 img{
    height: 200px;
    height: 200px;
    margin-top: -25vw;
    margin-left: auto;
}
/*товар 1*/
.card{
    display: flex;
    flex-direction: column;
    background-color: #212529;
    width: auto;
    height: auto;
    align-items: center;
}
.global1{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global1 img{
    width: 175px;
    height: 175px;
}
.global1 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global1 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.card-btn{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}
.card-btn button{
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.3vw 4vw;
    transition: 2s;
}
.card-btn button:hover{
    background-color: white;
    color: black;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
/*Конец блока популярные товары*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока товары*/
.tovar{
    margin: 5vw 0 0;
    display: flex;
    border-top: 2px solid white;
}
/**/
.filtr{
    display: flex;
    flex-direction: column;

}
.filtr h6{
    margin: 5vw 2.5vw 0;
    color: white;
    font-size: 1.5vw;
    font-family: 'Philosopher', sans-serif;
}
/**/
.country{
    display: flex;
    flex-direction: column;
}
.country h6{
    margin: 2vw 2.5vw 0;
    color: white;
    font-size: 1.5vw;
    font-family: 'Philosopher', sans-serif;
}
.country_form{
    display: flex;
    flex-direction: column;
    margin: 1vw 2.5vw 0;
}
.country_form label{
    color: white;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
}
.country_form input{
    width: 0.8vw ;
    height: 0.8vw;
}
/**/
.price{
    display: flex;
    flex-direction: column;
}
.price h6{
    margin: 2vw 2.5vw 0;
    color: white;
    font-size: 1.5vw;
    font-family: 'Philosopher', sans-serif;
}
.price_form{
    display: flex;
    flex-direction: column;
    margin: 1vw 2.5vw 0;
}
.price_form label{
    color: white;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
}
.price_form input{
    width: 0.8vw ;
    height: 0.8vw;
}
.btn1{
    display: flex;
    justify-content: center;
    margin: 2vw 2.5vw 0;
}
.btn_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 155px;
    height: 35px;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn2{
    display: flex;
    justify-content: center;
    margin: 1vw 2.5vw 0;
}
.btn_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 155px;
    height: 35px;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_more2:hover{
background: white;
color: black;
transition: 2s;
}
.teg{
    flex-direction: column;
    position: absolute;
    width: auto;
    margin-top:  12vw;
    margin-left: -16vw;
}
.teg p{
    color: rgba(255, 255, 255, 0.2);
    font-size: 8vw;
    font-family: 'Philosopher', sans-serif;
    transform: rotate(-90deg);
    margin-top: 10vw;

}
.separation{
    border-right: 2px solid white;
    margin-left: 70px;
}
/* товары*/
.container7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
    margin: 5vw 7.5vw 10vw;
}
.top1{
    display: flex;
    flex-direction: column;
}
/*товар 1*/
.global1{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global1 img{
    width: 175px;
    height: 175px;
}
.global1 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global1 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 2*/
.global2{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global2 img{
    width: 175px;
    height: 175px;
}
.global2 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global2 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 3*/
.global3{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global3 img{
    width: 175px;
    height: 175px;
}
.global3 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global3 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 4*/
.global4{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global4 img{
    width: 175px;
    height: 175px;
}
.global4 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global4 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 5*/
.global5{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global5 img{
    width: 175px;
    height: 175px;
}
.global5 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global5 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 6*/
.global6{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global6 img{
    width: 175px;
    height: 175px;
}
.global6 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global6 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 7*/
.global7{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global7 img{
    width: 175px;
    height: 175px;
}
.global7 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global7 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 8*/
.global8{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global8 img{
    width: 175px;
    height: 175px;
}
.global8 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global8 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 9*/
.global9{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global9 img{
    width: 175px;
    height: 175px;
}
.global9 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global9 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 10*/
.global10{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global10 img{
    width: 175px;
    height: 175px;
}
.global10 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global10 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 11*/
.global11{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global11 img{
    width: 175px;
    height: 175px;
}
.global11 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global11 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*товар 12*/
.global12{
    display: flex;
    background-color: #191D21;
    width: 250px;
    height: 300px;
    border: 2px solid white;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1vw;
}
.global12 img{
    width: 175px;
    height: 175px;
}
.global12 h5{
    color: white;
    font-size: 1.1vw;
    font-family: 'Philosopher';
}
.global12 p{
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher';
}
.btn_top1{
    display: flex;
    justify-content: center;
    margin: 0.5vw 0;
}
.btn_top1_more1{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 250px;
    height: 35px;
    font-size: 1.1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top1_more1:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top2{
    display: flex;
    justify-content: space-between;
}
.btn_top2_more2{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 125px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top2_more2:hover{
background: white;
color: black;
transition: 2s;
}
.btn_top3_more3{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 35px;
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
}
.btn_top3_more3:hover{
background: white;
color: black;
transition: 2s;
}
/*плагинация*/
.pagination{
    display: flex;

}
.pagination a {
    border: 2px solid white;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 2s;
}
.pagination a.active {
    background-color: rgb(255, 255, 255);
    color: black;
}
.pagination a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: black;
}
/*Конец блока Товары*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока Footer*/
.navigation_footer{
    display: flex;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Philosopher';
}
footer{
    height: 100%;
    background-color: #191D21;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .navigation_footer{
    padding-top: 5vh;
    width: 100%;
}
.logo{
    font-size: 1.8vw;
}
footer a{
    color: white;
    font-size: 1.5vw;
    font-family: 'Philosopher';
    margin-top: 2.5vh;
}
.cop{
    color: white;
    font-family: 'Philosopher';
    font-size: 1.2vw;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/*Конец блока Footer*/
