* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* бокавая панель управления*/
.navigation {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: "Philosopher", sans-serif;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    border-right: 2px solid white;
    position: fixed;
    padding-left: 70px;
    background-color: #212529;
}
.log {
    font-size: 2.5vw;
}
.navigation li {
    width: 300px;
}
.navigation a {
    color: white;
    font-family: "Philosopher";
}
.navigation-f1 {
    margin-top: 3vw;
}
.navigation-f2 {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
.navigation-f3 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
.navigation-f4 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    margin-bottom: 50vw;
}
/*понель данных*/
.d-f {
    display: flex;
    /* margin: 0 100px 0 0; */
    gap: 7vw;
    margin-left: 18vw;
    background-image: url("../img/imgheader1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
}
.container {
    display: flex;
    margin-top: 3.5vw;
    flex-direction: column;
    gap: 5vw;
    margin-left: 7vw;
}
/*поле ссылки*/
.point {
    display: flex;
    width: 300px;
    height: 60px;
    padding-left: 50px;
    align-items: center;
    background: rgba(25, 29, 33, 0.9);
}
.point p {
    color: white;
    font-family: "Comfortaa";
    font-size: 1.5vw;
}
/*поле данные*/
.info {
    display: flex;
    background: rgba(25, 29, 33, 0.9);
    box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.49);
    width: 1000px;
    height: 350px;
    padding: 25px 50px 0;
    gap: 2vw;
    flex-direction: column;
}
.info p {
    color: white;
    font-family: Arial;
    font-size: 1vw;
}
.block {
    display: flex;
    gap: 4.5vw;
}
.info-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-right: 100px;
    border-right: 2px solid white;
}
.elips {
    width: 150px;
    height: 150px;
    background-color: beige;
    border-radius: 50%;
}
.info-avatar p {
    color: white;
    font-family: Arial;
    font-size: 1.2vw;
}
.info-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    align-items: flex-start;
}
.info-login {
    display: flex;
    border-bottom: 1px solid white;
    gap: 2vw;
}
.info-login h4,
p {
    color: white;
    font-size: 1.2vw;
    font-family: Arial;
}
.info-password {
    display: flex;
    border-bottom: 1px solid white;
    gap: 2vw;
}
.info-password h4,
p {
    color: white;
    font-size: 1.2vw;
    font-family: Arial;
}
.info-email {
    display: flex;
    border-bottom: 1px solid white;
    gap: 1vw;
}
.info-email h4,
p {
    color: white;
    font-size: 1.2vw;
    font-family: Arial;
}
/*поле карта лояльности*/
.card {
    display: flex;
    background: rgba(25, 29, 33, 0.9);
    box-shadow: 14px 14px 20px rgba(0, 0, 0, 0.49);
    width: 1000px;
    height: 430px;
    padding: 25px 50px 0;
    gap: 2vw;
    flex-direction: column;
    margin-bottom: 10vw;
}
.card p {
    color: white;
    font-family: Arial;
    font-size: 1vw;
}
.card-info {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.card-info p {
    color: white;
    font-size: 1vw;
    font-family: Arial;
}
.kartochka {
    width: 300px;
    height: 150px;
    background-color: beige;
    border-radius: 7%;
}
button {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    font-size: 1vw;
    font-family: "Philosopher";
    letter-spacing: 2.5px;
    text-align: center;
}
button:hover {
    background: white;
    color: black;
    transition: 2s;
}
@media screen and (max-width: 1800px) {
    .container {
        display: flex;
        margin-top: 3.5vw;
        flex-direction: column;
        gap: 5vw;
        margin-left: 9vw;
    }
}
@media screen and (max-width: 1650px) {
    .container {
        display: flex;
        margin-top: 3.5vw;
        flex-direction: column;
        gap: 5vw;
        margin-left: 11vw;
    }
}
@media screen and (max-width: 1600px) {
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 850px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 850px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
        flex-direction: column;
    }
}
@media screen and (max-width: 1500px) {
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 825px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 825px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
        flex-direction: column;
    }
}
@media screen and (max-width: 1450px) {
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 850px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 850px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
    .card-info p {
        color: white;
        font-size: 1.2vw;
        font-family: Arial;
    }
    .card p {
        color: white;
        font-family: Arial;
        font-size: 1.4vw;
    }
    .info p {
        color: white;
        font-family: Arial;
        font-size: 1.4vw;
    }
}
@media screen and (max-width: 1420px) {
    .container {
        display: flex;
        margin-top: 3.5vw;
        flex-direction: column;
        gap: 5vw;
        margin-left: 13vw;
    }
}
@media screen and (max-width: 1400px) {
    .navigation {
        font-size: 2vw;
        font-family: "Philosopher", sans-serif;
    }
}
@media screen and (max-width: 1350px) {
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 825px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 825px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
}
@media screen and (max-width: 1300px) {
    .info-avatar {
        padding-right: 60px;
    }
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 750px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 750px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
    .container {
        margin-left: 15vw;
    }
    .point p {
        color: white;
        font-family: "Comfortaa";
        font-size: 1.7vw;
    }
    button {
        text-decoration: none;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        width: auto;
        height: auto;
        padding: 10px 20px;
        font-size: 1.2vw;
        font-family: "Philosopher";
        letter-spacing: 2.5px;
        text-align: center;
    }
}
@media screen and (max-width: 1250px) {
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 725px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 725px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
    .container {
        margin-left: 18vw;
    }
    button {
        text-decoration: none;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        width: auto;
        height: auto;
        padding: 10px 20px;
        font-size: 1.4vw;
        font-family: "Philosopher";
        letter-spacing: 2.5px;
        text-align: center;
    }
}
@media screen and (max-width: 1200px) {
    .point {
        display: flex;
        width: 225px;
        height: 60px;
        padding-left: 50px;
        align-items: center;
        background: rgba(25, 29, 33, 0.9);
    }
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 700px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 700px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
    .info-password h4,
    p {
        color: white;
        font-size: 1.5vw;
        font-family: Arial;
    }
    .info-email h4,
    p {
        color: white;
        font-size: 1.4vw;
        font-family: Arial;
    }
    .info-login h4,
    p {
        color: white;
        font-size: 1.5vw;
        font-family: Arial;
    }
}
@media screen and (max-width: 1150px) {
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 650px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .info-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2vw;
        padding: 0;
        padding-bottom: 4vw;
        border: none;
        border-bottom: 2px solid white;
    }
    .info-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        align-items: center;
    }
    .block {
        display: flex;
        flex-direction: column;
        gap: 4.5vw;
        text-align: center;
        justify-content: center;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 650px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
    .container {
        margin-left: 20vw;
    }
}
@media screen and (max-width: 1100px) {
    .container {
        margin-left: 18vw;
    }
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 600px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 600px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
    .info p {
        color: white;
        font-family: Arial;
        font-size: 1.6vw;
    }
    .info-password h4,
    p {
        color: white;
        font-size: 1.8vw;
        font-family: Arial;
    }
    .info-email h4,
    p {
        color: white;
        font-size: 1.8vw;
        font-family: Arial;
    }
    .info-login h4,
    p {
        color: white;
        font-size: 1.8vw;
        font-family: Arial;
    }
    .card p {
        color: white;
        font-family: Arial;
        font-size: 1.6vw;
    }
    button {
        text-decoration: none;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        width: auto;
        height: auto;
        padding: 10px 20px;
        font-size: 1.6vw;
        font-family: "Philosopher";
        letter-spacing: 2.5px;
        text-align: center;
    }
    .navigation li {
        width: 225px;
    }
}
@media screen and (max-width: 1050px) {
    .navigation {
        font-size: 2.3vw;
        font-family: "Philosopher", sans-serif;
    }
    .log {
        font-size: 3vw;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        margin-left: 18vw;
    }
    .info {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 575px;
        height: auto;
        padding: 25px 25px 25px;
        gap: 2vw;
        flex-direction: column;
    }
    .card {
        display: flex;
        background: rgba(25, 29, 33, 0.9);
        box-shadow: 14px 14px 20px rgb(0 0 0 / 49%);
        width: 575px;
        height: auto;
        padding: 25px 50px 25px;
        gap: 2vw;
    }
}
/*планшет*/
