*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #212529;
}
/*Начало шапки сайта*/
header{
    top: 0;
    width: 100%;
    background-color: #212529;
    border-bottom: 2px solid white;
    position: fixed;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    color: white;
    font-size: 1.3vw;
    font-family: 'Philosopher', sans-serif;
}
.logo{
    font-size: 1.8vw;
}
.navigation a{
    color: white;
}
/*подчеркивание у ссылок*/
.link-effect::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}
.link-effect:hover::after{
    width: 100%;
    transition: width 0.3s;
}
/*Конец шапки сайта*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока статья*/
.news{
    display: flex;
    margin-top: 7vw;
    flex-direction: column;
}
/**/
.news_paragrph h3{
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-size: 2vw;
    margin:  5vw 100px 3.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid white;
}
/**/
.news_info1{
    display: flex;
    margin: 0 100px 1vw;
    gap: 5vw;
    align-items: center;
}
.news_info1 img{
    width: 40vw;
    height: 25vw;
}
.news_info1 p{
    color: white;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
    width: auto;
    height: auto;
    word-wrap: break-all;
    line-height: 2vw;
}
/**/
.news_info2{
    display: flex;
    margin: 2.5vw 100px 1vw;
}
.news_info2 p{
    color: white;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
    width: auto;
    height: auto;
    word-wrap: break-all;
    line-height: 2vw;
}
/*Конец блока статья*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока другие новости*/
.news_more{
    margin-top: 5vw;
}
.news_more h3{
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-size: 2vw;
    text-align: center;
    margin: 100px;
    padding-bottom: 2vw;
    border-bottom: 2px solid white;
}
.container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, 15vw);
    justify-content: center;
    gap:  5.2vw  5.2vw;
    margin: 2vw 100px 5vw 100px;
}
.card{
    width: auto;
    height: auto;
    background-color: #212529;
    border: 1px solid white;
}
.card img{
    width: 14.9vw;
    height: 7.9vw;
}
.card-title{
    padding: 1vw 1vw 0;
    font-size: 0.7vw;
    color: white;
    font-family: 'Comfortaa';
}
.card-text{
    font-size: 0.8vw;
    padding: 1vw 1vw 2vw;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Comfortaa';
}
.card-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}
.card-btn button{
    font-size: 1vw;
    font-family: 'Philosopher', sans-serif;
    border: 1px solid white;
    color: white;
    background-color: #212529;
    padding: 0.3vw 4vw;
    transition: 2s;
}

.card-btn button:hover{
    background-color: white;
    color: black;
}
.card-btn button > a{
    color: white;
    font-size: 1vw;
    transition: 2s;
}
.card-btn button:hover > a{
    color: black;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 5vw 0;
}
.btn a{
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.5vw 3.5vw;
    font-size: 1.2vw;
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 2.5px;
    text-align: center;
    transition: 2s;
}
.btn a:hover{
    background-color: white;
    color: black;
}

/*Конец блока другие новости*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*Начало блока Footer*/
.navigation_footer{
    display: flex;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Philosopher';
}
footer{
    height: 100%;
    background-color: #191D21;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
}
footer .navigation_footer{
    padding-top: 5vh;
    width: 100%;
}
.logo > a{
    font-size: 1.8vw;
}
.conf{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.conf > a{
    font-size:1.2vw;
    color: rgba(255, 255, 255, 0.2);
    font-family: 'Philosopher';
}
footer a{
    color: white;
    font-size: 1.5vw;
    font-family: 'Philosopher';
    margin-top: 2.5vh;
}
.cop{
    color: white;
    font-family: 'Philosopher';
    font-size: 1.4vw;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
/*Конец блока Footer*/

/*верстка адаптива*/

@media screen and (max-width: 1581px) {
    /*шапка*/
    .navigation{
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        font-size: 1.5vw;
    }
    .logo{
        font-size: 2vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 1.8vw;
        margin:  5.5vw 100px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 40vw;
        height: 25vw;
    }
    .news_info1 p{
        font-size: 1.25vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.25vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 17.2vw);
        gap:  5.2vw  5.2vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: 17.1vw;
    }
    .card-title{
        padding: 1vw 1vw 0;
        font-size: 0.8vw;
    }
    .card-text{
        font-size: 0.9vw;
        padding: 1vw 1vw 2vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.1vw;
        padding: 0.3vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.1vw;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        display: flex;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5vw;
        font-family: 'Philosopher';
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .logo > a{
        font-size: 2vw;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.3vw;
    }
    footer a{
        font-size: 1.5vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.4vw;
        width: 100%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width: 1441px){
    /*статьи*/
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button {
        padding: 0.3vw 4vw;
        font-size: 1.2vw;
    }
    .card-btn button > a {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 1301px){
    /*шапка*/
    .navigation{
        margin-top: 1.7vw;
        margin-bottom: 1.7vw;
        font-size: 1.7vw;
    }
    .logo > a{
        font-size: 2.5vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 1.8vw;
        margin:  5.5vw 100px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 40vw;
        height: 25vw;
    }
    .news_info1 p{
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 17.2vw);
        gap:  5.2vw  5.2vw;
        margin: 0 100px 5vw 100px;
    }
    .card img{
        width: 17.1vw;
    }
    .card-title{
        padding: 1vw 1vw 0;
        font-size: 0.8vw;
    }
    .card-text{
        font-size: 0.9vw;
        padding: 1vw 1vw 2vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.2vw;
        padding: 0.3vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.2vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a{
        padding: 0.6vw 3.5vw;
        font-size: 1.3vw;
        letter-spacing: 2.5px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        display: flex;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.7vw;
        font-family: 'Philosopher';
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.4vw;
    }
    footer a{
        font-size: 1.6vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.5vw;
        width: 100%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width: 1282px){
    /*шапка*/
    .navigation{
        margin-top: 1.7vw;
        margin-bottom: 1.7vw;
        font-size: 1.7vw;
    }
    .logo > a{
        font-size: 2.5vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 1.8vw;
        margin:  5.5vw 100px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 40vw;
        height: 25vw;
    }
    .news_info1 p{
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 20vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: 19.9vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 0.9vw;
    }
    .card-text{
        font-size: 1.1vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.3vw;
        padding: 0.3vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.3vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a{
        padding: 0.6vw 3.5vw;
        font-size: 1.3vw;
        letter-spacing: 2.5px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.5vw;
    }
    footer a{
        font-size: 1.7vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.6vw;
        width: 100%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
@media screen and (max-width: 1141px) {
    /*шапка*/
    .navigation {
        margin-top: 1.8vw;
        margin-bottom: 1.8vw;
        font-size: 1.8vw;
    }
    .logo > a {
        font-size: 2.6vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 1.8vw;
        margin:  5.5vw 100px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 40vw;
        height: 25vw;
    }
    .news_info1 p{
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.35vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .container {
        grid-template-columns: repeat(auto-fill, 20vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 5vw 100px;
    }
    .card img{
        width: 19.9vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 0.95vw;
    }
    .card-text{
        font-size: 1.125vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.35vw;
        padding: 0.4vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.35vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a{
        padding: 0.7vw 3.5vw;
        font-size: 1.4vw;
        letter-spacing: 2.5px;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 6vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.55vw;
    }
    footer a{
        font-size: 1.8vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.7vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 1041px) {
    /*шапка*/
    .navigation {
        margin-top: 1.9vw;
        margin-bottom: 1.9vw;
        font-size: 1.9vw;
    }
    .logo > a {
        font-size: 2.7vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 1.9vw;
        margin:  7vw 100px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 40vw;
        height: 30vw;
    }
    .news_info1 p{
        font-size: 1.55vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.55vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 2.3vw;
        margin: 100px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 22vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: 21.8vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1vw;
    }
    .card-text{
        font-size: 1.2vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.45vw;
        padding: 0.45vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.35vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 0.7vw 3.5vw;
        font-size: 1.5vw;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.65vw;
    }
    footer a{
        font-size: 1.9vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.8vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 1000px) {
    /*шапка*/
    .navigation {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2vw;
    }
    .logo > a {
        font-size: 2.8vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 2vw;
        margin:  7vw 90px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        flex-direction: column-reverse;
        margin: 0 100px 1.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 50vw;
        height: 35vw;
    }
    .news_info1 p{
        font-size: 1.65vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.65vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 2.3vw;
        margin: 100px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 24vw);
        gap:  6vw  7vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: 23.8vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.05vw;
    }
    .card-text{
        font-size: 1.35vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.55vw;
        padding: 0.45vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.55vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 0.7vw 3.5vw;
        font-size: 1.6vw;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4.5vh;
        margin-bottom: 4.5vh;
    }
    .conf > a{
        font-size:1.8vw;
    }
    footer a{
        font-size: 2vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 1.9vw;
        width: 100%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
}
@media screen and (max-width: 901px) {
    /*шапка*/
    .navigation {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 2.2vw;
    }
    .logo > a {
        font-size: 3vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 2vw;
        margin:  7vw 90px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 50vw;
        height: 35vw;
    }
    .news_info1 p{
        font-size: 1.85vw;
        line-height: 2.5vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 1.85vw;
        line-height: 2.5vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 2.3vw;
        margin: 100px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 26vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: 25.8vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.1vw;
    }
    .card-text{
        font-size: 1.5vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.75vw;
        padding: 0.55vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.55vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 0.7vw 3.5vw;
        font-size: 1.8vw;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:1.95vw;
    }
    footer a{
        font-size: 2.2vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 841px) {
    /*шапка*/
    .navigation {
        margin-top: 2.1vw;
        margin-bottom: 2.1vw;
        font-size: 2.3vw;
    }
    .logo > a {
        font-size: 3vw;
    }
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 2.4vw;
        margin:  7vw 90px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 100px 1.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 50vw;
        height: 35vw;
    }
    .news_info1 p{
        font-size: 2vw;
        line-height: 2.7vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 100px 1vw;
    }
    .news_info2 p{
        font-size: 2vw;
        line-height: 2.7vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 2.4vw;
        margin: 75px 100px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 27vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: 26.8vw;
    }
    .card-title{
        padding: 1.5vw 1.2vw 0;
        font-size: 1.15vw;
    }
    .card-text{
        font-size: 1.55vw;
        padding: 1.5vw 1.2vw 2.5vw;
    }
    .card-btn{
        margin-bottom: 1.5vw;
    }
    .card-btn button{
        font-size: 1.85vw;
        padding: 0.65vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.85vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 0.7vw 3.5vw;
        font-size: 1.9vw;
    }
    /*Начало блока Footer*/
    .navigation_footer{
        font-size: 1.7vw;
    }
    footer{
        height: 100%;
        margin-top: 7.5vw;
    }
    footer .navigation_footer{
        padding-top: 5vh;
        width: 100%;
    }
    .conf{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .conf > a{
        font-size:2.1vw;
    }
    footer a{
        font-size: 2.3vw;
        margin-top: 2.5vh;
    }
    .cop{
        font-size: 2.15vw;
        width: 100%;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
    }
}
@media screen and (max-width: 769px){
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 2.5vw;
        margin:  7vw 75px 4vw;
        padding-bottom: 1vw;
    }
    /**/
    .news_info1{
        margin: 0 75px 2.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 57vw;
        height: 40vw;
    }
    .news_info1 p{
        font-size: 2.3vw;
        line-height: 2.85vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 75px 1vw;
    }
    .news_info2 p{
        font-size: 2.3vw;
        line-height: 2.85vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 2.75vw;
        margin: 75px 100px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 28vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 7.5vw 100px;
    }
    .card img{
        width: 27.8vw;
    }
    .card-title{
        padding: 2.2vw 1.2vw 0;
        font-size: 1.25vw;
    }
    .card-text{
        font-size: 1.6vw;
        padding: 2.2vw 1.2vw 3.5vw;
    }
    .card-btn{
        margin-bottom: 2.5vw;
    }
    .card-btn button{
        font-size: 1.95vw;
        padding: 0.65vw 4vw;
    }
    .card-btn button > a{
        font-size: 1.95vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 0.7vw 3.5vw;
        font-size: 2vw;
    }
}
@media screen and (max-width: 701px) {
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 2.8vw;
        margin:  7vw 75px 5vw;
        padding-bottom: 1.2vw;
    }
    /**/
    .news_info1{
        margin: 0 75px 2.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 60vw;
        height: 42vw;
    }
    .news_info1 p{
        font-size: 2.6vw;
        line-height: 2.95vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 75px 1vw;
    }
    .news_info2 p{
        font-size: 2.6vw;
        line-height: 2.95vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 2.9vw;
        margin: 75px 100px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 29vw);
        gap:  8vw  8vw;
        margin: 2vw 100px 12.5vw 100px;
    }
    .card img{
        width: 28.8vw;
    }
    .card-title{
        padding: 2.2vw 1.2vw 0;
        font-size: 1.35vw;
    }
    .card-text{
        font-size: 1.7vw;
        padding: 2.2vw 1.2vw 3.5vw;
    }
    .card-btn{
        margin-bottom: 2.5vw;
    }
    .card-btn button{
        font-size: 2vw;
        padding: 0.65vw 4vw;
    }
    .card-btn button > a{
        font-size: 2vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 0.7vw 3.5vw;
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 589px){
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 3vw;
        margin:  7vw 50px 5vw;
        padding-bottom: 1.2vw;
    }
    /**/
    .news_info1{
        margin: 0 50px 2.5vw;
        gap: 5vw;
    }
    .news_info1 img{
        width: 60vw;
        height: 42vw;
    }
    .news_info1 p{
        font-size: 2.8vw;
        line-height: 3.2vw;
    }
    /**/
    .news_info2{
        margin: 2.5vw 50px 1vw;
    }
    .news_info2 p{
        font-size: 2.8vw;
        line-height: 3.2vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 3.1vw;
        margin: 75px 50px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 40vw);
        gap:  8vw  8vw;
        margin: 2vw 50px 12.5vw 50px;
    }
    .card img{
        width: 39.8vw;
    }
    .card-title{
        padding: 2.2vw 2vw 0;
        font-size: 1.8vw;
    }
    .card-text{
        font-size: 2.2vw;
        padding: 2.2vw 2vw 5vw;
    }
    .card-btn{
        margin-bottom: 4vw;
    }
    .card-btn button{
        font-size: 2.5vw;
        padding: 0.75vw 4vw;
    }
    .card-btn button > a{
        font-size: 2.5vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 1vw 3.5vw;
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 426px){
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 4.2vw;
        margin:  15vw 30px 6vw;
        padding-bottom: 1.2vw;
    }
    /**/
    .news_info1{
        margin: 0 30px 2.5vw;
        gap: 8vw;
    }
    .news_info1 img{
        width: 70vw;
        height: 50vw;
    }
    .news_info1 p{
        font-size: 3.7vw;
        line-height: 4vw;
    }
    /**/
    .news_info2{
        margin: 6vw 30px 1vw;
    }
    .news_info2 p{
        font-size: 3.7vw;
        line-height: 4vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 4.2vw;
        margin: 60px 50px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 50vw);
        gap:  8vw  8vw;
        margin: 2vw 30px 12.5vw 30px;
    }
    .card img{
        width: 49.8vw;
    }
    .card-title{
        font-size: 2vw;
        padding: 3vw 2vw 0;
    }
    .card-text{
        font-size: 2.8vw;
        padding: 5vw 2vw 8vw;
    }
    .card-btn{
        margin-bottom: 4.5vw;
    }
    .card-btn button{
        font-size: 3.2vw;
        padding: 1vw 6vw;
    }
    .card-btn button > a{
        font-size: 3.2vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 1.5vw 3.5vw;
        font-size: 3.2vw;
    }
}
@media screen and (max-width: 376px) {
    /*Начало блока статья*/
    .news{
        margin-top: 7vw;
    }
    /**/
    .news_paragrph h3{
        font-size: 5vw;
        margin:  15vw 50px 6vw;
        padding-bottom: 1.2vw;
    }
    /**/
    .news_info1{
        margin: 0 50px 2.5vw;
        gap: 8vw;
    }
    .news_info1 img{
        width: 70vw;
        height: 50vw;
    }
    .news_info1 p{
        font-size: 4.5vw;
        line-height: 5vw;
    }
    /**/
    .news_info2{
        margin: 6vw 50px 1vw;
    }
    .news_info2 p{
        font-size: 4.5vw;
        line-height: 5vw;
    }
    /*статьи*/
    .news_more h3{
        font-size: 5vw;
        margin: 60px 50px;
        padding-bottom: 2vw;
    }
    .container {
        grid-template-columns: repeat(auto-fill, 59vw);
        gap:  15vw  8vw;
        margin: 2vw 100px 20vw 100px;
    }
    .card img{
        width: 58.8vw;
    }
    .card-title{
        font-size: 2.5vw;
        padding: 5vw 2vw 0;
    }
    .card-text{
        font-size: 3.5vw;
        padding: 7vw 2vw 10vw;
    }
    .card-btn{
        margin-bottom: 4.5vw;
    }
    .card-btn button{
        font-size: 3.7vw;
        padding: 1.5vw 6vw;
    }
    .card-btn button > a{
        font-size: 3.7vw;
    }
    .btn{
        margin: 6vw 0;
    }
    .btn a {
        padding: 2vw 3.5vw;
        font-size: 4vw;
    }
}
